.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  justify-content: center;
  margin-top: 5vh;

  h1 {
    color: $color-3;
    letter-spacing: 2px;
    margin-left: 5vw;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

  }

  a {
    border-radius: 10px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    margin-left: 2px;
    font-size: 1.2rem;
    transition: 0.2s;

    &:hover {
      color: $color-2;
    }


    &:visited {
      color: $color-3;
      list-style: none;
    }
  }

  a.nav-active {
    background: $color-2;
    width: 150px;
  }
}
