$color-1: #212040;
$color-2: #546fe4;
$color-3: #f2e1c7;
$color-4: #f9f5f08a;


@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
}
.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}